{% extends "base.html" %}

{% block head_title %} Reset Password || {{ block.super }} {% endblock head_title %}

{% block content %}

	<div class="row">

		<form class="register_form" method="post" action="{% url 'auth:password_reset' %}"> <!-- Esta parte tiene que coincidir con el name del loginView -->
			{% csrf_token %}

			{% if messages %}
				{% for message in messages %}{{ message }}{% endfor %}
					
			{% endif %}

			{{ form.as_p }}

			<input type="submit" value="reset" />

		</form>

	</div>


{% endblock %}